html, body, #root {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Encode Sans Condensed', sans-serif;
}

#app-container {
}

#add-location-button {
    position: absolute;
    top: 50%;
    left: 50%;
    /* background: black; */
    width: 150px;
    height: 50px;
    z-index: 80;
    transform: translate(-75px, -60px);
    /* box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4); */
}

.add-location-button-desc {
    cursor: pointer;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
    text-align: center;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    border-radius: 4px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    background: black;
}

.add-location-button-arrow {
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0;
    left: 65px;
    width: 20px;
    height: 20px;
    background: black;
    transform: rotate(45deg);
}

#detail-info .detail-info-title {
    margin-top: 0;
}

#detail-info .detail-info-thumbnail {
    margin-bottom: 15px;
}

#detail-info .media-body {
    /* padding-top: 25px; */
}

#detail-info .menu-item-price {
    /* font-size: 1.3em; */
}

#detail-info .form-group {
    margin-bottom: 0;
}

#detail-info .form-group.has-error {
    border: 1px solid rgba(214, 108, 76, 0.5);
    border-radius: 4px;
    padding: 10px;
}

#detail-info label.form-group {
    display: block;
}

#sidebar {
    z-index: 100;
    position: absolute;
    top: 0;
    left: -100%;
    width: 25%;
    min-width: 350px;
    max-width: 100%;
    height: 100%;
    background: #fff;
    transition: all .1s ease;

    margin-bottom: 0;
    overflow-y: auto;
    border-radius: 0;
}

#sidebar.active {
    left: 0;
}

#sidebar .panel {
    border-radius: 0;
    border: 0;
}

#menu-toggler {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 90;
}

#map-container {
}

.material-icons.lg {
    font-size: 48px
}

.no-pt {
    padding-top: 0;
}

.f24 {
    font-size: 24px;
}

.mr10 {
    margin-right: 10px;
}

.mb30 {
    margin-bottom: 30px;
}
.nomt {
    margin-top: 0;
}
.mt10 {
    margin-top: 10px;
}
.nomargin {
    margin: 0;
}

.cut {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-link {
    color: #947858;
}

.btn-link:hover,
.btn-link:active,
.btn-link:active:focus,
.btn-link:focus {
    color: #947858;
    outline: none;
    text-decoration: none;
}

.btn-link:hover {
    background-color: rgba(150,150,150,.1);
    color: #947858;
}

.btn-link:active,
.btn-link:active:focus {
    color: #947858;
    background-color: rgba(150,150,150,.3);
}

.btn-link.primary {
    color: #50bca9;
}
.btn-link.primary:hover {
    color: #50bca9;
}
.btn-link.primary:active {
    color: #50bca9;
}

.btn-link.red {
    color: #d9534f;
}
.btn-link.red:hover {
    color: #d43f3a;
}
.btn-link.red:active {
    color: #c9302c;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:hover,
.btn-primary:focus:active,
.btn-primary:focus:hover {
    background-color: #50bca9;
    border-color: #50bca9;
}

.btn-primary:hover {
    background-color: #42a090;
    border-color: #42a090;
}

input {
    width: 100%;
    border: none;
    padding-bottom: 8px;
    padding: 5px;
    border-radius: 4px;
    /* border-bottom: 2px solid #dedede; */
}
input:hover,
input:focus {
    outline: none;
    background: rgba(150,150,150,.1);
}

@media all and (max-width: 500px) {
    #sidebar {
        width: 100%;
    }
}
