/* common styles */
html, body, #root {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.f24 {
    font-size: 24px;
}

.f2 {
    font-size: 2em;
}

.mr10 {
    margin-right: 10px;
}

.mb30 {
    margin-bottom: 30px;
}
.nomt {
    margin-top: 0;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 10px;
}
.nomargin {
    margin: 0;
}
.cut {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-link {
    color: #947858;
}

.btn-link:hover,
.btn-link:active,
.btn-link:active:focus,
.btn-link:focus {
    color: #947858;
    outline: none;
    text-decoration: none;
}

.btn-link:hover {
    background-color: rgba(150,150,150,.1);
    color: #947858;
}

.btn-link:active,
.btn-link:active:focus {
    color: #947858;
    background-color: rgba(150,150,150,.3);
}

.btn-link.primary {
    color: #50bca9;
}
.btn-link.primary:hover {
    color: #50bca9;
}
.btn-link.primary:active {
    color: #50bca9;
}

.btn-link.red {
    color: #d9534f;
}
.btn-link.red:hover {
    color: #d43f3a;
}
.btn-link.red:active {
    color: #c9302c;
}

.btn-default {
    background: #ddd;
    border: none;
    border-bottom: 3px solid #bbb;
}
.btn-default:active {
    background: #ddd;
    border: none;
    box-shadow: none;
    margin-top: 10px;
}
.btn-default:active:focus,
.btn-default:focus {
    outline: none;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:hover,
.btn-primary:focus:active,
.btn-primary:focus:hover {
    background-color: #50bca9;
    border-color: #50bca9;
}

.btn-primary:hover {
    background-color: #42a090;
    border-color: #42a090;
}

input {
    width: 100%;
    border: none;
    padding-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
    background: transparent;
    background: rgba(150,150,150,.1);
    text-transform: capitalize;
}

.btn {
    /* text-transform: uppercase; */
}

input:hover,
input:focus {
    outline: none;
    background: rgba(150,150,150,.2);
}

/* component styles */
#app-container {
}

#navbar {
    position: absolute;
    padding: 10px 15px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #51baa8;
    background: rgba(0,0,0,.2);
    box-sizing: border-box;
    border-bottom: 1px solid #dddddd;
    color: white;
    transition: all .5s ease;
}

#navbar:hover {
    background: #51baa8;
}

#navbar .btn {
    color: white;
}

#location-selector {
    position: absolute;
    top: 50%;
    left: 50%;
    /* background: black; */
    width: 150px;
    height: 50px;
    z-index: 80;
    transform: translate(-75px, -60px);
    /* box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4); */
}

#location-selector .desc {
    cursor: pointer;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
    text-align: center;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    border-radius: 4px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    background: black;
    z-index: 1000;
}

#location-selector .arrow {
    z-index: 900;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0;
    left: 65px;
    width: 20px;
    height: 20px;
    background: black;
    transform: rotate(45deg);
}

#location-selector:active .desc,
#location-selector:active .arrow {
    background: rgb(50,50,50);
    box-shadow: 0px 0px 4px 2px rgba(50,50,50,.7);
}

#form-restaurant .resto-name {
    margin-top: 0;
    margin-bottom: 10px;
}
#form-restaurant .resto-name input {
    font-size: 1.7em;
}

#form-restaurant .resto-thumb {
    margin-bottom: 10px;
}

#form-restaurant .media-left {
    width: 45%;
    box-sizing: border-box;
}
#form-restaurant .media-object {
    max-width: 100%;
}
#form-restaurant .media-body {
    /* width: 55%; */
    box-sizing: border-box;
    /* padding-top: 25px; */
}

#form-restaurant .media-list {
    margin-bottom: 70px;
}
#form-restaurant .media:not(:last-child) {
    margin-bottom: 10px;
    box-sizing: border-box;
}

#form-restaurant .form-group {
    margin-bottom: 5px;
}

#form-restaurant .form-group.has-error {
    border: 3px solid rgba(214, 108, 76, 1);
    border-radius: 8px;
    padding: 10px;
}

#form-restaurant .form-group .help-block {
    font-weight: bold;
}

#form-restaurant label.form-group {
    display: block;
}

#form-restaurant .btn-add-menu {
    border: none;
    background: #947858;
    border-bottom: 3px solid #543d23;
    border-radius: 4px;
    color: white;
}
#form-restaurant .btn-add-menu:active {
    border: none;
    transform: translateY(4px);
    box-shadow: none;
    outline: none;
}
#form-restaurant .btn-add-menu:active:focus,
#form-restaurant .btn-add-menu:focus {
    outline: none;
}

.thumb {
    position: relative;
    box-shadow: 0 3px 4px 1px rgba(0,0,0,.5);
    transition: all .3s ease;
    border-radius: 4px;
    overflow: hidden;
}
.loader {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(0,0,0,.8);
}
.loader .fa-spin {
    color: rgba(255,255,255,.7);
}
.thumb-buttons {
    position: absolute;
    /* top: calc(50% - 15px); */
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* text-align: center; */
    justify-content: space-evenly;
    align-items: center;
    background: rgba(0,0,0,.1);
}
.thumb-buttons.top-right {
    justify-content: flex-end;
    align-items: flex-start;
}
.thumb-buttons.top-right button {
    margin: 10px 10px 0 0;
}
.thumb-buttons:hover {
    background: rgba(100,100,100,.1);
}
.thumb-buttons button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: rgba(0,0,0,.7);
    color: white;
    box-shadow: 0 0 0 0 rgba(0,0,0,.1);
}
.thumb-buttons button label {
    display: block;
    margin: 0;
    cursor: pointer;
}
.thumb-buttons button:hover {
    background: rgba(50,50,50,.7);
}
.thumb-buttons button:focus,
.thumb-buttons button:active:focus,
.thumb-buttons button:active {
    outline: none;
    background: rgba(20,20,20,.7);
}
.thumb-buttons button:not(:last-child) {
    /* display: inline-block; */
    /* margin-right: 10px; */
}

/* input image */
.input-img {
    position: relative;
    display: block;
    background: rgba(150,150,150,.1);
    padding: 20px;
    cursor: pointer;
    color: #947858;
    border-radius: 4px;
    box-sizing: border-box;
    border: 3px dashed;
    border-color: transparent;
}
.input-img:focus,
.input-img:active:focus,
.input-img:active {
    background: rgba(0,0,0,.1);
}
.input-img:hover {
    border-color: #947858;
}
.input-img.is-loading:hover {
    border-color: transparent;
}
.input-img .input-label {
    /* display: none; */
    display: block;
    opacity: 0;
    transform: translateY(-20px);
    transition: all .3s ease;
    font-size: small;
}
.input-img:hover .input-label {
    transform: translateY(0);
    opacity: 1;
    /* display: block; */
}

/* */

#sidebar {
    z-index: 100;
    position: absolute;
    top: 0;
    left: -150%;
    width: 25%;
    min-width: 350px;
    max-width: 100%;
    height: 100%;
    background: #fff;
    transition: all .1s ease;

    margin-bottom: 0;
    overflow-y: auto;
    border-radius: 0;
    background: url('./bg.png');
    background-size: 100%;
}

#sidebar.active {
    left: 0;
}

#sidebar .panel {
    border-radius: 0;
    border: 0;
    background: transparent;
}

#map-container {
}


/* responsive styles */
@media all and (max-width: 500px) {
    #sidebar {
        width: 100%;
        min-width: 100%;
    }

    #navbar {
        background: #51baa8;
    }

    .input-img .input-label {
        transform: translateY(0);
        opacity: 1;
    }
}
